* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    flex-wrap: wrap;
}

main {
    text-align: center;
    flex: 1;
    background: rgb(217, 217, 224);
    box-shadow: 100px 2px 20px 10px rgb(139, 161, 182) inset;
}

.topnav {
    height: 50px;
    background-color: rgb(188, 200, 218);
    padding: 40px;
    box-shadow: 2px 2px 20px 10px rgb(139, 161, 182) inset;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#counter {
    margin: 0;
    margin-right: 5px;
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.cartIcon {
    margin-right: 10px;
    font-size: 24px;
}

.userIcon {
    margin-right: 10px;
    font-size: 25px;
    margin-top: 2px;
}

#authentication {
    display: flex;
    align-items: center;
}

a {
    margin: 0;
    color: black;
    cursor: pointer;
    text-decoration-line: none;
}

.button {
    cursor: pointer;
    margin-left: 10px;
    border-radius: 10px;
    font-family: fantasy;
    background-color: greenyellow;
}

#cartProducts {
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.productBox {
    color: black;
    font-family: monospace;
    padding-left: 8em;
}

.productPic {
    height: 7em;
    object-fit: contain;
}

.footer {
    background-color: rgb(102, 123, 132);
    box-shadow: 2px 2px 20px 10px rgb(139, 161, 182) inset;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-weight: bold;
    font-family: cursive;
    color: greenyellow;
}
