* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    max-width: 100vw;
    flex-direction: column;
    margin: 0;
}

.topnav {
    height: 50px;
    width: 100wv;
    background-color: rgb(188, 200, 218);
    padding: 40px;
    box-shadow: 2px 2px 20px 10px rgb(139, 161, 182) inset;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin: 0;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.userIcon {
    font-size: 25px;
    display: flex;
}

.myPages {
    font-family: Arial, Helvetica, sans-serif;
}

#signOut {
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    font-family: fantasy;
    background-color: cyan;
    margin: 4px 2px;
    padding: 2px 10px;
}

#authentication {
    display: flex;
    align-items: center;
}

a {
    margin: 0;
    color: black;
    cursor: pointer;
    text-decoration-line: none;
}

main {
    max-width: 100vw;
    justify-content: center;
    flex: 1;
    background: rgb(217, 217, 224);
    box-shadow: 100px 2px 20px 10px rgb(139, 161, 182) inset;
}

p {
    font-family: monospace;
    margin: 0;
}

#ordersContainer {
    width: 100vw;
    height: 20%;
    padding-left: 8em;
}

h1 {
    font-family: monospace;
}

.totalPrice {
    font-family: monospace;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.button {
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    font-family: fantasy;
    background-color: cyan;
    margin: 4px 2px;
    padding: 2px 10px;
}

.orderBox {
    width: 100vw;
    margin-bottom: 10px;
}

.generalInfo {
    background-color: whitesmoke;
    margin-bottom: 3em;
}

@media screen and (max-width: 700px) and (min-width:400px) {
    main {
        box-shadow: 0px 0px 20px 10px rgb(139, 161, 182) inset;
    }
    .topnav {
        padding: 10px;
    }
    .title {
        font-size: 25px;
    }
    #authentication {
        padding-right: 2em;
    }
    #ordersContainer {
        padding: 30px;
    }
    h1 {
        font-size: 20px;
        margin: 0;
    }
    .totalPrice {
        font-size: 15px;
        padding-bottom: 10px;
    }
   
}

@media screen and (max-width: 400px) {
    main {
        box-shadow: 0px 0px 20px 10px rgb(139, 161, 182) inset;
    }
    .topnav {
        padding: 10px;
    }
    .title {
        font-size: 25px;
    }
    #authentication {
        padding-right: 2em;
    }
    #ordersContainer {
        padding: 30px;
    }
    h1 {
        font-size: 20px;
        margin: 0;
    }
    .totalPrice {
        font-size: 15px;
        padding-bottom: 10px;
    }
}